body {
    background-color: #3B4664;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result-area {
    background-color: #181F32;
    color: #ffffff;
    width: 50vh;
    margin: 15px auto;
    padding: 1px 20px;
    border-radius: 6px;
    text-align: right;
    box-shadow: 0px 4px 4px 0px #00000040;
}

#result-area span {
    color: #808080;
}

#calc-area {
    background-color: #252D44;
    width: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding: 25px 20px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.grid-item {
    background-color: #fff;
    color: #3B4664;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    padding: 8px 0;
}

.grid-item-del {
    background-color: #647299;
    color: #ffffff;
}

.grid-item-reset {
    grid-column: span 2;
    background-color: #647299;
    color: #ffffff;
}

.grid-item-equal {
    grid-column: span 2;
    background-color: #D13F30;
    color: #ffffff;
}